<h1>Editing Admin Db Configuration</h1>

<%= render 'form', admin_db_configuration: @admin_db_configuration %>

<%= link_to 'Show', @admin_db_configuration %> |
<%= link_to 'Back', admin_db_configurations_path %>
